.idea/
.kdev4/
build/
*.pro.user
CMakeFiles/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.qmake.stash

cmake_install.cmake

CMakeLists.txt.user

CMakeScripts/
compiler.build/
compiler.xcodeproj/
Debug/